<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Houses of Dreams</title>
  </head>
  <body>
    <h1>Houses of Dreams</h1>
    <p>
      Home page
    </p>
  </body>
</html>